body {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

header,
nav,
main,
footer {
    padding: 1em 0;
}

header {
    background-color: #79675C;
    text-align: center;
    
}

#div-central {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    box-sizing: border-box;
    height: 100vh; /* Assure que le conteneur principal occupe toute la hauteur */
}




nav {
    display: flex;           /* Utilise flexbox pour le positionnement des éléments */
    flex-direction: column;  /* Aligne les éléments de menu verticalement */
    align-items: center;     /* Centre horizontalement les éléments */
    background-color: #9e8a7f; /* Couleur de fond du menu */
    padding: 1em;
}

nav a {
    color: #28221e;          /* Couleur du texte */
    text-decoration: underline;   /* Enlève le soulignement */
    display: block;          /* Permet de rendre chaque lien un bloc pour qu'il occupe toute la largeur */
    text-align: center;      /* Centre le texte à l'intérieur de chaque lien */
    padding: 0.5em 1em;      /* Espacement autour du texte */
    width: 100%;             /* Les liens occupent toute la largeur disponible */
}


nav > ul {
    padding-left: 0.5em;
}



nav a:visited {
    color: #28221e;
    text-decoration: none;
}

main {
    flex: 10;
    background-color: #FFFFFF;
    padding-left: 3em;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #79675C;
    position: absolute;
    bottom: auto;
    width: 100%;
}

.fond-jaune {
    background-color: yellow;
}

.alert-error {
    padding: 0.75rem 1.25rem;
    margin: 1.5rem 0rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    color: rgb(0, 0, 0);
    background-color: #ff00003d;
    border-color: #ff0000;
}

.alert-success {
    padding: 0.75rem 1.25rem;
    margin: 1.5rem 0rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    color: rgb(0, 0, 0);
    background-color: #48ff004e;
    border-color: #00ff00;
}

.alert-warning {
    padding: 0.75rem 1.25rem;
    margin: 1.5rem 0rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: rgb(0, 0, 0);
    background-color: #ffda07c8;
    border-color: #ffb300;
}

table {
    table-layout: fixed;
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    border: 1px solid black;
}

.gris {
    background: repeating-linear-gradient(
        45deg, /* Angle des hachures */
        gray, /* Couleur de départ */
        gray 5px, /* Largeur d'une ligne grise */
        transparent 5px, /* Espace entre les lignes */
        transparent 10px /* Largeur totale de chaque répétition */
    );
}



.centered-text {
    text-align: center;          /* Centre le texte horizontalement */
    display: flex;                /* Utilise Flexbox pour aligner les éléments */
    flex-direction: column;      /* Aligne les éléments l'un sous l'autre */
    justify-content: center;     /* Centre les éléments verticalement (si nécessaire) */
    align-items: center;         /* Centre les éléments horizontalement */
    height: 100%;                 /* Assure que le conteneur prend toute la hauteur disponible */
}
